:global([data-code-block]) {
  position: relative;
}

.copyBtn {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: calc(var(--spacing) * 2);
  right: calc(var(--spacing) * 2);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: calc(var(--spacing) * 1.5);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  color: var(--color-text-secondary);

  opacity: 0;
  background: var(--color-surface-3);

  transition:
    opacity 0.15s,
    color 0.15s,
    border-color 0.15s;

  &:focus-visible {
    opacity: 1;
  }

  &:hover {
    border-color: var(--color-border-hover);
    color: var(--color-text-primary);
  }

  @media (hover: none) {
    opacity: 1;
  }
}

:global([data-code-block]:hover) .copyBtn {
  opacity: 1;
}
