@import url("../../styles/media.css");

.host {
  display: block;
  height: 100%;

  @media (--mobiles) {
    & :global(.cm-content) {
      font-size: 16px;
    }
  }
}

.host :global(.cm-editor) {
  background-color: var(--color-surface-2) !important;
}

.host :global(.cm-gutters) {
  background-color: var(--color-surface-2) !important;
}
